h1{
    font-family: 'Syne Mono', monospace;
    color: rgb(5, 11, 100);
}
a{
    font-family: 'Syne Mono', monospace;
    color: indigo;
}
table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
  }
  body{
    background-color: rgb(62, 238, 62);
   
  }
  ul li{
    font-family: 'Syne Mono', monospace;
    color: rgb(167, 5, 5);
    background-color: rgb(13, 191, 204);
  }
  .galary{
    margin: 10px 50px;
  }
  .galary img{
    transition: 1s;
    padding: 15px;
    width: 200px;
  }
  .galary img:hover{
     filter:grayscale(100%);
     transform:scale(1.1);
  }